<div data-bind="css: { 'hide_files' : isEnabledProcessTransfer() }">

    <div class="pointOfMoving-wrap">
        <p class="pointOfMoving" data-bind="style: { width: distancePercent() + '%' } "></p>
    </div>

    <ul>
        <!-- ko template: { name: 'src/components/catalog-tree/templates/folder_catalog_template', data: rootFolder() } -->
        <!-- /ko -->
    </ul>

    <!--<div class="text-center">-->
        <!--<button data-bind="click: onClickCreateNewFolder" type="button" data-title="Create the folder" class="glyphicon glyphicon-plus">-->
            <!--<span class="inside_button_image folder_format"></span>-->
        <!--</button>-->
    <!--</div>-->

</div>