.player-b{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.73);
    top: 0;
    right: 0;
}

.player-b.opened{
    display: block;
}

.player-bar-b{

}

.player-source-b{
    border: 1px solid red;
    max-width: 50%;
    height: 400px;
    margin: 0 auto;
    top: 200px;
    position: relative;
    background: black;
}

.player-close-btn{
    float: right;
    margin: 50px;
}

video{
    width: 100%;
    height: 100%;
}